:root {
	--rgb-golden: rgb(247, 215, 154);
	--gradient-golden: linear-gradient(
		120deg,
		rgba(247, 215, 154, 1) 0%,
		rgba(202, 169, 105, 1) 100%
	);

	--rgb-diamond: rgb(136, 132, 119);
	--gradient-diamond: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 30%,
		rgba(136, 132, 119, 1) 100%
	);

	--rgb-mystic: rgb(231, 240, 238);
	--rgb-gray: rgb(43, 43, 43);
	--rgb-light-gray: rgb(68, 68, 68);
}

.marketing-widget {
	min-height: 200px;
	h1,
	.h1 {
		@media (max-width: 576px) {
			font-size: 1.5rem;
		}
	}
	h2,
	.h2 {
		@media (max-width: 576px) {
			font-size: 1.375rem;
		}
	}
	h3,
	.h3 {
		@media (max-width: 576px) {
			font-size: 1.25rem;
		}
	}
	h4,
	.h4 {
		@media (max-width: 576px) {
			font-size: 1.125rem;
		}
	}
	h5,
	.h5 {
		@media (max-width: 576px) {
			font-size: 1rem;
		}
	}
}

.writing-mode-vertical {
	writing-mode: vertical-lr;
}

.orientation-mixed {
	text-orientation: mixed;
}

.admit-one {
	border-right: 1px dashed black;
}

.flex-gap-2 {
	gap: 0.5rem;
}

.flex-gap-3 {
	gap: 1rem;
}

.line-height-1 {
	line-height: 1;
}

.font-garamond {
	font-family: 'EB Garamond', serif;
}

.rounded-10 {
	border-radius: 10px;
}

.bg-gray {
	background-color: var(--rgb-gray);
}

.bg-light-gray {
	background-color: var(--rgb-light-gray);
}

.bg-black {
	background-color: black;
}

.bg-academy {
	background-image: url(./img/bg-academy.png);
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg-gradient-golden {
	background: var(--rgb-golden);
	background: var(--gradient-golden);
}

.btn-golden {
	color: black;
	background: var(--rgb-golden);
	background: var(--gradient-golden);
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	font-weight: bold;
	font-family: 'EB Garamond', serif;
}

.btn-golden:hover {
	color: black;
}

.bg-gradient-diamond {
	background: var(--rgb-diamond);
	background: var(--gradient-diamond);
}

.btn-diamond {
	color: black;
	background: var(--rgb-diamond);
	background: var(--gradient-diamond);
	border: 1px solid var(--rgb-diamond);
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
	font-weight: bold;
	font-family: 'EB Garamond', serif;
}

.btn-diamond:hover {
	color: black;
}

.text-gradient-golden {
	background: var(--rgb-golden);
	background: var(--gradient-golden);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-mystic {
	color: var(--rgb-mystic);
}

.text-black {
	color: black;
}

.cap-title {
	position: relative;
	img {
		position: absolute;
		left: 5px;
		bottom: 100%;
	}
}

.object-contain {
	object-fit: contain;
}

.bg-certification {
	background-image: url(./img/bg-certification.png);
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	& > h2 {
		@media (max-width: 576px) {
			font-size: 1.375rem;
		}
	}
}

.bg-training {
	background-image: url(./img/bg-training.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: var(--gradient-diamond);
	background-color: var(--gradient-diamond);
}

.certification-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-rows: 1fr;
	gap: 1.5rem;
	li {
		padding: 5px;
		border-radius: 5px;
	}
	h5 {
		font-weight: bold;
		line-height: 1;
	}

	@media (min-width: 576px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 992px) {
		grid-template-columns: repeat(4, 1fr);
	}
}
